<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Cards</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
        }

        .top-bar {
            background-color: #F7A072;
            color: #fff;
            padding: 10px 0;
            text-align: center;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }

        .store-name {
            font-size: 1.5rem;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding-top: 100px; /* Add padding to the container to account for the fixed top bar */
        }

        .card {
            background-color: #EDDEA4;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 300px;
            padding: 20px;
            text-align: center;
            transition: transform 0.2s ease-in-out;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card h2 {
            color: #333;
        }

        .card p {
            color: #666;
        }

        .price {
            font-size: 1.5rem;
            font-weight: bold;
            margin-top: 10px;
        }

        /* Style for the "Add Product" button */
        .add-button {
            background-color: #00A7E1;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            position: absolute;
            top: 20px;
            right: 20px;
            text-decoration: none;
        }

        .add-button:hover {
            
            transform: scale(1.05);
        }

        .show {
            text-decoration: none;
            color: #00A7E1;
        }

        .show:hover{
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="top-bar">
        <h1 class="store-name">Node Store</h1>
    </div>

    <div class="button">

    <a class="add-button" href="/createProduct">Add Product</a>
    </div>

    <div class="container">

        <%  if(product.length == 0){ %>
            <h1>No Product</h1>
          <%  }else{ %>
                <% product.forEach((product)=>{ %>
                    <div class="card">
                        <h2><%- product.name  %></h2>
                        <h3>Rs <%- product.price %></h3>
                        <p><%- product.description.slice(0,100) %></p>
                        <a class="show" href="/single/<%-product.id %>">Show More</a>
                    </div>
            <%       }) %>
            
            <% } %>
    </div>
</body>
</html>
